@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 pt-5"><strong>Bienvenido a CINE +</strong></h1>
    <p class="pt-5">En este proyecto web podra visualizar las peliculas que son tendencia , la pagina individual de cada pelicula donde podra puntuar las peliculas para formar parte del ranking de las mismas y la pagina de ranking donde se vera la grafica de las peliculas mejor puntuadas en promedio.</p>
    <p>En el repositorio web en Github se puede descargar la ultima version del proyecto, en el mismo se encuentra el query sql para poder realizar la base de datos y la insercion de los datos, se debera cambiar la ruta en appsettings.json para poder usarla</p>
    <p>Proyecto realizado por:      Jabes Alfredo Flores Reyes FR230108</p>

</div>
