@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a CINE+</h1>
    <p class="pt-5">En este proyecto web podra visualizar las peliculas que son tendencia y podra puntuar las peliculas para formar parte del ranking de las mismas.</p>
    <p>Integrantes: Jabes Alfredo Flores Reyes FR230108</p>
    <p>Wilber Bladimir Hernández López HL230089</p>
    <p>Rodrigo Alejandro Estacuy Martínez EM152384</p>
    <p>Arévalo Cáceres Carlos René AC223160</p>

</div>
